<% if(collection != null ) { %>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%- collection.name %></li>
        </ol>
      </nav>
    
      <div class="row">

        <div class="col-12 col-sm-4">
          <img src="/uploads/<%= collection.image %>" class="img-fluid sticky-top" style="top: 20px;" alt="<%- collection.name %>" loading="lazy">
        </div>

        <div class="col-12 col-md-8">
            <div class="row">
              <div class="col-12"><h1><%- collection.name %></h1></div>
              <div class="col-12 mb-4"><i class="bi bi-tag"></i> <%- collection.brand %></div>
              <div class="col-12" style="white-space: pre-line;">
                <h4 class="price">Sneaker Value</h4>
                <%- collection.price %>
              </div>
            </div>
        </div>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <form class="update-form" action="/collection/<%= collection._id %>/edit">
            <input type="submit" value="Update" class="btn btn-primary btn-m">
          </form>

          <!-- <form class="edit-form" action="/edit-sneaker/<%= collection._id %>?_method=UPDATE" method="PUT"> -->
         
          <form class="delete-form" action="/collection/<%= collection._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btn-primary btn-dark btn-m">
          </form>
          <!-- <a href="/collection" class="btn btn-primary btn-dark btn-lg">Delete</a> -->
        </div>

<% } %>